@font-face {
  font-family: "roman";
  src: url(./antiqua-roman.woff2) format("woff2");
}

span {
  font-size: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roman;
}

html,
body {
  background-color: black;
  color: white;
}

body,
main {
  height: 100vh;
  overflow: hidden;
}

.menu {
  padding: 2rem 1rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  user-select: none;
  counter-reset: menucounter;
  z-index: 100;
}

.menu__item {
  position: relative;
  margin: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  will-change: transform;
  /* background-color: red; */
}

.menu__item::before {
  counter-increment: menucounter;
  content: counters(menucounter, ".", decimal-leading-zero);
  position: absolute;
  left: -15px;
  top: 0;
  width: auto;
  color: white;
  line-height: 1;
  font-size: 10px;
}

.menu__item-text {
  pointer-events: none;
  display: block;
  line-height: 1;
  position: relative;
}

.menu__item > div:nth-child(1) span {
  transition: 0.5s;
  transform-origin: bottom;
  display: inline-block;
}

.menu__item > div:nth-child(2) span {
  transition: 0.5s;
  transform-origin: top;
  display: inline-block;
  transform: translate3d(0, 100%, 0) rotateX(90deg);
}

.menu__item:hover > div:nth-child(1) span {
  transform: translate3d(0, -100%, 0) rotateX(-90deg);
}

.menu__item:hover > div:nth-child(2) span {
  transform: translate3d(0, 0%, 0) rotateX(0deg);
}
